<div>
  <style>
    jc-nutritional-info table thead th, jc-nutritional-info table tbody tr td{
      font-family: Helvetica, Arial, sans-serif;
    }
    jc-nutritional-info .nutrition-title {
      background:#000;
      color:#fff;
    }

    jc-nutritional-info tr.group-row {
      border-bottom: 3px solid #000;
    }

    jc-nutritional-info .group-row tr td {
      padding-left:10px;

    }
  </style>
  <div ng-if="!nutritionData || !nutritionData.length">
    Loading nutritional information
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="nutrition-title">
          Nutrition Facts
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="group-row" ng-repeat="group in nutritionData">
        <td>
          <div class="nutrition-heading">
            <strong ng-bind="group.name">
            </strong>
            <strong class="pull-right" ng-bind="group.total">
            </strong>
          </div>
          <table class="table" ng-if="group.children">
            <tbody>
              <tr ng-repeat="child in group.children">
                <td>
                  <span ng-bind="child.name"></span>
                  <span class="pull-right" ng-bind="child.total"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>